---
layout: default
---
            {% include header.html %}

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Matke</h2>
							<p>Prodotti chimici<br />
							orientati verso un futuro sostenibile.</p>
						</header>
						<span class="image"><img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
                <section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ site.url }}{{ site.baseurl }}/images/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Chi è Matke</h2>
										<p>e cosa fa</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>Matke e una start-up attiva a Vicenza dal 2017. E' stata 
                                    costituita per realizzare e di prodotti chimici innovativi ad uso industriale
                                    che spaziano da oli e grassi per il settore conciario a resine o proteine
                                    modificate.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Ha ricevuto un finanziamento dalla regione Veneto che ha premiato 
                                    i suoi progetti volti alla modifica ed aggiornamento di impiego
                                    dei prodotti chimici e dei processi dell'industria conciaria.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="{{ site.url }}{{ site.baseurl }}/images/pic03.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Produttività e impianto</h2>
							<p>Il settore centrale dell'azienda</p>
						</header>
						<p>Nonostante la recente costituzione, Matke si è subito dotata di due reattori chimici di nuova concezione. Sono stati costruiti su misura per le tipologie di reazioni che verranno effettuate. La capacità produttiva è di 30000 Kg/giorno.</p>
						<ul class="actions">
							<li><a href="{{ site.url }}{{ site.baseurl }}/#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{{ site.url }}{{ site.baseurl }}/images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Ricerca e sviluppo</h2>
							<p>Dove tutto è nato</p>
						</header>
						<p>La ricerca ha dato il via a Matke. L'azienda è stata costruita per produrre nuovi composti funzionali ed oggi è una struttura giovane, dinamica e ricca di idee. Naturalmente non mancano le esperienze e la conoscenza chimica da parte dei suoi collaboratori. Il suo focus di ricerca è orientato allo sviluppo di nuove molecole polimeriche da impiegare nel settore conciario.</p>
						<ul class="actions">
							<li><a href="{{ site.url }}{{ site.baseurl }}/#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>I nostri servizi</h2>
							<p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Ipsum sed commodo</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Eleifend lorem ornare</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-flask"></span>
									<h3>Cubilia cep lobortis</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-paper-plane"></span>
									<h3>Non semper interdum</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-file"></span>
									<h3>Odio laoreet accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-lock"></span>
									<h3>Massa arcu accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions">
								<li><a href="{{ site.url }}{{ site.baseurl }}/#" class="button">Magna sed feugiat</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Iscriviti alla nostra newsletter</h2>
							<p>resterai aggiornato sulle ultime novità</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Invia" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>

			{% include footer.html %}
